#fixedCart{
	display: none;
	position: fixed;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: wheat;
	z-index: 10000;
	text-align: center;
	padding: 10px 0 0 0;
}
#cartIcon{
	position: fixed;
	bottom: 10px;
	left: 20px;
	font-size: 2em;
	z-index: 10001;
}
#fixedCart form{
	padding: 0 15px;
}
.carteRight{
	border: none !important;
}
.login-suc-div{
	display: none;
}
#nousMobile{
	padding: 15px;
}