html,
body{
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.5px;
	width: 100vw;
	overflow-x: hidden;
}

#nav{
	height: 50px;
	width: 100vw;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 20px 0 0 0;
	-webkit-transition: all .5s ease .25s;
 	transition: all .5s ease .25s;
}

#nav > div.container{
	margin-top: 0;
	-webkit-transition: all .5s ease .25s;
 	transition: all .5s ease .25s;
}

#nav.top-nav-collapse{
	margin: 0;
	background-color: #a5313e;
	height: 60px;
	-webkit-transition: all .5s ease .25s;
 	transition: all .5s ease .25s;
}

#nav.top-nav-collapse > div.container{
	margin-top: 5px;
	-webkit-transition: all .5s ease .25s;
 	transition: all .5s ease .25s;
}

.navbar-brand{
	padding: 0 0 0 15px;
    line-height: 20px;
}

.navbar-brand > img{
	height: 50px;
}

#navbar{
	border: none;
	box-shadow: none;
	-webkit-transition: all .5s ease .25s;
 	transition: all .5s ease .25s;
}
@media screen and (max-width: 767px){
	#navbar{
		margin-top: 15px;
		background-color: #a5313e;
	}
}

#nav.top-nav-collapse #navbar{
	background-color: #a5313e;
	margin-top: 0;
	-webkit-transition: all .5s ease .25s;
 	transition: all .5s ease .25s;
}

#navbar > ul > li > a{
	color: #FFFFFF;
	padding: 15px;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
}

#navbar > ul > li > a:hover,
#navbar > ul > li > a:active{
	color: #f9ffa9;
}

.navbar-default .navbar-toggle{
	border-color: transparent;
	padding: 10px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #ffffff;
}

#bgvideo{
  position: absolute;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  overflow: hidden;
}

#bgvideo > video{
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -200;
}

#center{
	position: relative;
	height: 100vh;
	width: 100vw;
	display: table;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0,0,0,0.6);
}

#center > div{
	height: 100vh;
    display: table-cell;
    vertical-align: middle;
    width: 550px;
}

#center > div > h2{
	color: #FFFFFF;
	font-size: 48px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
	margin: 10px 0;
}

#center > div > p{
	color: #D2D2D2;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
	font-style: italic;
	text-transform: uppercase;
	margin: 30px 0;
}
@media screen and (max-width: 768px){
	#center > div > h2{
		font-size: 36px;
	}

	#center > div > p{
		font-size: 12px;
	}
}
@media screen and (max-width: 600px){
	#center > div > h2{
		font-size: 30px;
	}
}
@media screen and (max-width: 414px){
	#center > div > h2{
		font-size: 20px;
	}
	#center > div > p{
		font-size: 10px;
	}
}

#center > section{
	position: absolute;
	width: 100%;
	bottom: 30px;
	padding-right: 30px;
}

#center > section > a{
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
	color: #ffffff;
}

#center > section > a.video_control{
	color: #c21120;
}

#center > section > a.video_control:hover{
	color: #ffffff;
}

#center > section > a#toPresentation:hover{
	color: #c21120;
}


#bgfond{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-image: url(img/bgfond.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -100;
}

#presentation{
	position: relative;
	display: table;
	height: 500px;
	width: 100%;
}

#presentation > div.row{
	display: table-cell;
	vertical-align: bottom;
}

#presentation > div > div > p{
	color: #D2D2D2;
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 100;
	margin:0 0 20px;
	font-style: italic;
}
@media screen and (max-width: 414px){
	#presentation > div > div > p{
		font-size: 11px;
	}
}

#la_carte{
	position: relative;
	min-height: 600px;
	width: 100%;
	padding: 10px 0 130px;
}

#la_carte > div.row{
	padding-top: 200px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu {
  max-width: 768px;
  color: #ffffff;
  margin: 0 10px;
  padding: 0 20px;
  text-align: left;
}

@media screen and (max-width: 767px){
	#cssmenu{
		max-width: 750px; 
	}
}

#cssmenu ul ul {
  display: none;
}

.align-right {
  float: right;
}

#cssmenu > ul > li > a {
  padding: 40px 20px;
  border: 1px solid #ffffff;
  cursor: pointer;
  z-index: 2;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.open > a{
	border: 1px solid #a5313e;
	color: #a5313e;
	background-position: top center;
	-webkit-transition: all 1s;
	transition: all 1s;
}
#cssmenu > ul > li.open > a{
	background-position: center;
}
#entree > a:hover,
#entree.open > a{
	background-image: url(img/entree.jpg);
}
#viandes > a:hover,
#viandes.open > a{
	background-image: url(img/viandes.jpg);
}
#poissons > a:hover,
#poissons.open > a{
	background-image: url(img/poissons.jpg);
}
#accompagne > a:hover,
#accompagne.open > a{
	background-image: url(img/accompagnement.jpg);
}
#desserts > a:hover,
#desserts.open > a{
	background-image: url(img/desserts.jpg);
}
@media screen and (max-width: 768px){
	#cssmenu > ul > li > a{
		background-position: top center;
	}
	#cssmenu > ul > li.open > a{
		background-position: center center;
	}
	#entree > a,
	#entree.open > a{
		background-image: url(img/entree.jpg);
	}
	#viandes > a,
	#viandes.open > a{
		background-image: url(img/viandes.jpg);
	}
	#poissons > a,
	#poissons.open > a{
		background-image: url(img/poissons.jpg);
	}
	#accompagne > a,
	#accompagne.open > a{
		background-image: url(img/accompagnement.jpg);
	}
	#desserts > a,
	#desserts.open > a{
		background-image: url(img/desserts.jpg);
	}
}
@media screen and (max-width: 600px){
	#cssmenu > ul > li > a > span{
		font-size: 18px;
	}
}
@media screen and (max-width: 414px){
	#cssmenu > ul > li > a {
		padding: 25px 20px;
	}
	#cssmenu > ul > li > a > span{
		font-size: 14px;
	}
}

#cssmenu > ul > li > ul.container-fluid{
	background-color: rgba(165,49,62,0.9);
	border: 1px solid #a5313e;	
}
#cssmenu > ul > li > ul.container-fluid > center{
	padding-top: 40px;
}
#cssmenu > ul > li > ul.container-fluid > center > span{
	text-align: center;
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
	font-size: 18px;
	color: #ffffff;
	padding: 0px 0 20px;
	border-bottom: 1px solid #ffffff;
}

#cssmenu > ul > li > ul.container-fluid > div.row{
	margin: 0;
	padding-top: 50px;
}

#cssmenu > ul > li > ul.container-fluid > div.row > div > li > h3{
	font-size: 14px;
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
	color: #e7d177;
	margin: 0;
	padding: 10px 0;
}

#cssmenu > ul > li > ul.container-fluid > div.row > div > li > p{
	font-size: 13px;
	color: #ffffff;
	margin: 0;
	padding: 0 0 15px;
	line-height: 14px;
	font-weight: 200;
}

#reservation{
	height: 750px;
	width: 100%;
	margin-bottom: 150px;
	padding-top: 120px;
}

#reservation > center{
	height: 100%;
	width: 110%;
	margin-left: -5%;
	-moz-tansform: rotate(355deg);
	-o-tansform: rotate(355deg);
	-webkit-transform:rotate(355deg);
	transform: rotate(355deg);
	background-image: url(img/table.jpeg);
	background-size: cover;
	background-position: center;
	border: 1px solid rgba(231,209,119,0.8);
    box-shadow: 0 0 5px #e7d177;
    overflow: hidden;
    z-index: 10;
}

#reservation > center > div.row{
	max-width: 550px;
	height: 115%;
	margin-top: -3%;
	background-color: rgba(165,49,62,0.9);
	display: table;
	-moz-transform: rotate(355deg);
	-o-transform: rotate(355deg);
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
}
@media screen and (max-width: 600px){
	#reservation > center > div.row{
		margin-top: -5%;
	}
}

#reservation > center > div.row > div{
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px;
}

#reservation h1{
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
	font-size: 30px;
	margin: 0;
	padding-bottom: 70px;
	color: #ffffff;
}

#reservation div.form-group{
	margin: 0;
	padding: 0 0 20px 0;
	text-align: left;
}

#reservation div.form-group.col-xs-6{
	padding: 0 15px 20px;
}

#reservation div.form-group.col-xs-6 > label{
	padding-left: 0;
	padding-bottom: 5px;
}

#reservation div.form-group > label{
	text-align: left;
	color: #ffffff;
	font-size: 14px;
	font-weight: 200;
	padding-top: 7px;
}

#reservation #envoyer{
	border-top: 1px solid #ffffff;
	padding-top: 20px;
	margin: 0 15px;
	text-align: left;
}

#reservation button.envoyer{
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 5px;
	background-color: transparent;
	padding: 2px 15px;
}

#reservation button.envoyer:hover{
	background-color: #ffffff;
	border: 1px solid #ffffff;
	color: #a5313e;
	font-weight: 300;
}
.bfh-selectbox .bfh-selectbox-options{
	left: 15px;
}
.bfh-selectbox .bfh-selectbox-options ul{
	max-height: 150px;
}
.bfh-datepicker-calendar{
	left: 15px;
}
@media screen and (max-width: 600px){
	.bfh-datepicker-calendar{
		right: 15px;
		left: auto;
	}
}
@media screen and (max-width: 550px){
	#reservation{
		height: 650px;
	}

	#reservation > center{
		width: 120%;
		margin-left: -10%;
	}
	#reservation > center > div.row{
		width: 400px;
	}
	#reservation h1{
		padding-bottom: 30px;
	}
	#reservation div.form-group > label{
		font-size: 12px;
	}
}
@media screen and (max-width: 400px){
	#reservation{
		height: 650px;
	}
	#reservation > center > div.row{
		width: 315px;
	}
	#reservation h1{
		padding-bottom: 10px;
	}
	#reservation div.form-group > label{
		font-size: 10px;
	}
	#reservation > center > div.row > div{
		padding: 0;
	}
	.bfh-datepicker-calendar{
		right: 10px;
		left: auto;
	}
	.bfh-datepicker-calendar>table.calendar{
		width: 100%;
	}
}

#calery{
	position: relative;
	height: 610px;
	width: 100vw;
	padding-top: 150px;
}

.swiper-container {
    width: 100%;
    height: 400px;
    background-color: #a5313e;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}

#video_et_photo{
	position: relative;
	height: auto;
	width: 100%;
	text-align: center;
	padding-top: 60px;
}

#video_et_photo > a{
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 200;
	color: #ffffff;
	background-color: #a5313e;
	text-decoration: none;
}

#video_et_photo > a:hover{
	background-color: #ffffff;
	color: #a5313e;
	-webkit-transitioin: all 0.3s;
	transition: all 0.3s;
}

#contact{
	position: relative;
	height: 510px;
	width: 100vw;
	background-color: #a5313e;
	margin-top: 230px;
}

#contact > center > h1{
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
	font-size: 30px;
	color: #ffffff;
	margin: 0;
	padding: 70px 30px 50px;
}

#contact > center > h3{
	font-size: 18px;
	font-weight: 100;
	margin: 0;
	color: #ffffff;
	padding: 0 30px 10px;
}

#contact > center > a{
	text-align: center;
}

#contact > center > a > span{
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 100;
	color: #ffffff;
	padding: 20px 30px;
	text-decoration: underline;
}

#contact > center > div{
	max-width: 577px;
}

#contact > center > div > div > li{
	list-style: none;
}

#contact > center > div > div > li > h3{
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	text-align: left;
	list-style: none;
	margin: 30px 0 5px;
}

#contact > center > div > div > li > p{
	font-size: 16px;
	font-weight: 100;
	font-style: italic;
	color: #ffffff;
	text-align: left;
	margin: 0 0 5px;
}

div.width80{
	width: 80%;
	float: left;
	padding-top: 15px;
}

div.width20{
	width: 20%;
	text-align: right;
	float: left;
	margin-top: 45px;
	border-left: 1px solid #ffffff;
}

div.width20 > li{
	padding: 15px 0;
}

#copyright{
	position: absolute;
	width: 100vw;
	bottom: 25px;
	color: #ffffff;
	font-weight: 200;
	font-style: italic;
	font-size: 14px;
	margin: 0;
	padding: 0 15px;
	text-align: center;
}

@media screen and (max-width: 800px){
	#copyright{
		font-size: 12px;
	}
}
@media screen and (max-width: 700px){
	#copyright{
		font-size: 10px;
	}
}
@media screen and (max-width: 600px){
	#contact > center > a > span{
		font-size: 16px;
	}
	#contact > center > div{
		width: 400px;
		padding: 0 10px;
	}
	#contact > center > h3{
		font-size: 16px;
	}
}
@media screen and (max-width: 414px){
	#contact > center > a > span{
		font-size: 9px;
	}
	#contact > center > div{
		width: 320px;
		padding: 0 10px;
	}
	#contact > center > h3{
		font-size: 16px;
	}
	#contact > center > div > div > li > h3{
		font-size: 12px;
	}
	#contact > center > div > div > li > p{
		font-size: 10px;
	}
	div.width20 > li{
		padding: 10px 0;
	}
	div.width20 > li > a > img{
		height: 35px;
	}
}











